@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

/* Font style */
.quicksand{
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }


/* SHEARED style */
.display{
    display: flex;
}
.text{
    text-align: center;
}
body{
    margin: 0 auto;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    margin-left: 10px;
}
.marquee{
    display: flex;
    justify-content: center;
    align-items: center;
}
.hide{
    display: none;
}
.drop{
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 3px;
}
.hover:hover{
    background-color: rgba(0, 37, 0, 0.959);
    color: rgba(255, 0, 0, 0.705);
}
.btn-row:hover{
    background-color: wheat;
    color: black;
}
/* Banner part id style */
#Admission{
    color: rgba(93, 88, 239, 1);
}
#Facilities{
    color: rgba(5, 212, 223, 1);
}
#Home{
    color: rgba(254, 163, 1, 1);
}
#About{
    color: rgba(1, 172, 253, 1);
}
/* banner id style */
#Empowering{
    color: rgba(254, 163, 1, 1);
}
#towards{
    color: rgba(1, 172, 253, 1);
}


/* CURRICULUM id part*/
#kinder{
    background-image: linear-gradient(to bottom, #def5ff, #e9f7ff, #f3f9ff, #fafbff, #ffffff);;
    border-radius: 12px;
   }
#elementary{
       background-image: linear-gradient(to bottom, #fff4dc, #fff3e9, #fff6f7, #fffbff, #ffffff);
       border-radius: 12px;
}
#middle{
       background-image: linear-gradient(to bottom, #f2e8ff, #f4eeff, #f7f4ff, #fbf9ff, #ffffff);
       border-radius: 12px;
}
   
#read-more-1{
    color: #64C8FF;
    font-size: 1rem;
    font-weight: 700;
}   
#read-more-2{
       color: #F0AA00;
       font-size: 1rem;
       font-weight: 700;
}
#read-more-3{
   color: rgba(135, 0, 255, 1);
   font-size: 1rem;
   font-weight: 700;
}



/* stories btn */
    .btn{
        border-radius: 3rem;
        padding: 1rem;
        font-size: 1em;
        font-weight: 600;
        border: none;
    }
/* Header style */
.header{
    justify-content: space-between;
    align-items: center;
    /* border: 10px solid red; */
    padding: 1.5rem;
}



/* nav */
.nav{
    /* border: 1px solid red; */
}

.btn-contact{
    padding: 1rem 1.5rem;
    background-color: orange;
    font-size: 1.5em;
    color: white;
    border-radius: 12px;
    border: none;
}

/* banner */

.banner-container{
    justify-content:space-between;
    align-items: center;
    /* border: 10px solid red; */
    padding: 1.5em;;
}
.btn-enroll{
    padding: 1rem 1.5rem;
    background-color: rgb(0, 0, 0);
    font-size: 1.5em;
    color: white;
    border-radius: .5em;
    border: none;
    margin-top: .8rem;
}


/* curriculum */

.curriculum{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../assets/bg.png);
}
.curriculum-container{
    gap: 3.5rem;
    padding: 1.5rem;
    /* width: 1200px;border: 1px solid rgb(1, 70, 173); */
}
.curriculum-card{
    display: flex;
    flex-direction: column;
    /* border: 3px double red; */
    justify-content: center;
    align-items: center;
    /* width: 370px;
    height: 400px; */
    gap: 1.5rem;
    border-radius: 1.2rem;
    padding: 1.5rem;
}

.btn-curriculum{
    margin: 2.2rem;
}





.btn-arrow{
    padding: 1rem 1.5rem;
    background-color: rgb(226, 176, 11);
    font-size: 1.5em;
    color: white;
    border-radius: 50%;
    border: none;
    margin-top: 1.2rem;
}



/* our-stories */

.our-stories{
    border: 2px solid blue; 
    margin-top: 20px;
    
    background-image: linear-gradient(to  top , rgba(245, 60, 60, 0.377), rgba(250, 166, 9, 0.329));
    padding: 1.6rem;
    background-image: url(../assets/bg.png), linear-gradient(to  top , rgba(245, 60, 60, 0.377), rgba(250, 166, 9, 0.329));;
}
.story-container{
    padding: 1rem;
}
.story-card{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}
.column-card{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
    flex-wrap: wrap;
}

.story-card>img{
    object-fit: fill;
    width: 100%;
    height: 100%;

}
.row{
    grid-row: span 3;
    background-color: rgb(253, 253, 253);
    border-radius: 1rem 1rem;
}
.row>img{
    width: 100%;
    border-radius: 1.5rem 1.5rem 0 0;
}
.column>img{
    width: 100%;
    border-radius: 1.5rem 1.5rem 0 0;
}
.column{
    border-radius: 1.5rem 1.5rem;
    background-color: white;
}
.column-description, .column-title{
    padding: 1.5rem;
}
.column-description{
    font-size: 1.2rem;
    font-weight: 500;
}

.column-title{
    font-size: 1.5rem;
    font-weight: 600;
}

.btn-view{
    padding: 1rem 3rem;
    font-size: 1.2rem;
    font-weight: 500;
    background-color: black;
    color: white;
    border-radius: .5rem;
    text-align: center;
    margin: 2.5rem 0;
}
 /* btn */
 #btn-date-1:hover{
    background-color: rgb(5, 70, 5);
    color: rgb(241, 8, 8);
 }
 #btn-date-1{
    background-color: rgba(60, 216, 232, 1);
    position: relative;
    top: -18.225rem;
    left: 20px;
    padding: 16px 25px;
    border-radius: 47px;
    font-size: 1rem;
    font-weight:500;
    border: none;
    color: rgba(255, 255, 255, 0.712);
 }
 #btn-date-2:hover{
    background-color: rgb(5, 70, 5);
    color: rgb(241, 8, 8);
 }
 #btn-date-2{
    background-color: rgba(60, 232, 152, 0.863);
    position: relative;
    top: -12.9rem;
    left: 20px;
    padding: 16px 25px;
    border-radius: 47px;
    font-size: 1rem;
    font-weight:500;
    color: white;
    border: none;
 }
 #btn-date-3:hover{
    background-color: #64C8FF;
    color: rgb(83, 11, 11);
 }
 #btn-date-3{
    background-color: rgba(232, 129, 60, 0.925);
    position: relative;
    top: -12.5rem;
    left: 20px;
    padding: 16px 25px;
    border-radius: 47px;
    font-size: 1rem;
    font-weight:500;
    color: white;
    border: none;
 }
 #btn-date-4:hover{
    color: sandybrown;
    background-color: slateblue;
 }
 #btn-date-4{
    background-color: rgba(2, 90, 100, 0.966);
    position: relative;
    top: -12.5rem;
    left: 20px;
    padding: 16px 25px;
    border-radius: 47px;
    font-size: 1rem;
    font-weight:500;
    color: white;
    border: none;
 }
 #btn-date-5:hover{background-color: tomato;
    color: rgb(255, 255, 255);

 }
 #btn-date-5{
    background-color: rgba(47, 8, 218, 0.863);
    position: relative;
    top: -12.49rem;
    left: 20px;
    padding: 16px 25px;
    border-radius: 47px;
    font-size: 1rem;
    font-weight:500;
    color: white;
    border: none;
 }


 /* footer */
 .footer{
    background-color: rgba(37, 105, 223, 0.815);

 }
 .footer-container{
    display: flex;
    justify-content:space-between;
    align-items: self-start;
    padding: 6.5rem 13.5rem;
    color: rgb(255, 255, 255);
 }
 .footer-text-card{
    width: 400px;
    padding: 1.3rem;
 }
 .li-nav{
    margin-top:3rem;
 }
 .footer-nav{
    font-size: 1.3rem;
    font-weight:500 ;
 }
 .keep{
    font-size: 1.625rem;
    font-weight: 700;
    padding: 0 2rem;
 }
 .text-description{
    font-size: 1.3rem;
    font-weight: 400;
 }








 /* responsive */

 @media screen and (max-width: 576px) {
    .hide-r
    {
        display:none;
    }
    .drop{
        display: block;
    }
    .header{
        display: flex;
        align-items: center;
        justify-content:space-around;
        padding: 1rem;
    }
    .banner-container{
        flex-direction: column;
        padding: 1rem;
        justify-content: center;
    }
    .banner-img >img{
        object-fit: cover;
        height: 100%;
        width: 100%;
     }
     .curriculum-container{
        flex-direction: column;
    }
    .column-card{
        grid-template-columns: repeat(1, 1fr);
    }

    .our-stories{
        margin:  0;
        padding: 0;
    }
    .footer-container{
        flex-direction: column;
        padding: 1rem;
    }
    .column-card{
       flex-direction: column;
    }
    .footer-text-card{
        width: 100%;
        padding: 1rem;
    }
    .footer-nav{
        padding: 1rem;
    }
    .keep{
        padding: 1rem;
    }
 }